import(graphics, stats, randomForest, foreach, parallel, doParallel, mlbench)
export(fitModel)
export(tcpPValues)
export(CPCalibrationPlot)
export(CPEfficiency)
export(CPErrorRate)
export(CPObsFuzziness)
export(CPValidity)
export(ICPClassification)
export(TCPClassification)
export(parTCPClassification)
